<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
        h1 {
            margin-bottom: 20px;
        }
        form {
            background-color: #333;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
            display: inline-block;
        }
        input[type="text"] {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #444;
            border-radius: 5px;
            background-color: #222;
            color: #fff;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin: 10px 5px;
        }
        button:hover {
            background-color: #0056b3;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        button a {
            color: inherit;
        }
</style>

<body>
    <h1>plz submit your name and email first</h1>
    <form action="/signup_auth"  method="post">
        <input type="text" name = "name" placeholder="name">
        <input type="text" name = "email" placeholder="password">
        <button>submit</button>
    </form>
    <button><a href="login">have an account</a></button>
</body>
</html>